@import "vars";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-size: 50px;
    .container {
        min-height: 100vh;
        width: calc(100vw - 40px);
        display: grid;
        place-items: center;

        .texts {
            position: relative;

            .text {
                display: grid;

                span {
                    padding: 35px;
                    display: block;
                }

                &:first-child {
                    transform: scale(0.9);
                }

                &:last-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: white;
                    cursor: none;
                    opacity: var(--opacity);

                    span {
                        clip-path: var(--circle);
                        //opacity: var(--opacity);
                        background: black;
                        transition: all 0.2 ease;
                    }
                }
            }
        }
    }
}
